{% extends 'base.html.twig' %}


{% block body %}

<form class="" action="" method="post" }}>
    {{ form_errors(categorias_form) }}
    {{ form_widget(categorias_form) }}
    <input type="submit" value="Crear" />
</form>

{% endblock %}
